*,
*::before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #fff;
}
img {
  vertical-align: middle;
}
.navbar {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

/* colors  */
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f8f9fa;
}
.text-content {
  color: #666666;
}
.text-bold {
  font-weight: bold;
}

/* nav 滑下來變色 */
.fixed-top.scrolled {
  background-color: rgb(0, 0, 0, 0.5);
  transition: background-color 400ms linear;
}

/* SCROLL DOWN icon */
.chevron {
  float: right;
  position: absolute;
  bottom: 100px;
  -webkit-animation: baloon_1 3s infinite;
  -moz-animation: baloon_1 3s infinite;
  -ms-animation: baloon_1 3s infinite;
  -o-animation: baloon_1 3s infinite;
  animation: baloon_1 3s infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes baloon_1 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

@-moz-keyframes baloon_1 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

@-ms-keyframes baloon_1 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

@-o-keyframes baloon_1 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes baloon_1 {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* go top icon */
#gotop {
  z-index: 2;
}

.main-banner {
  height: 100vh;
  background-image: url(../images/banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-triangle {
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.title {
  color: #fff;
  font-weight: 500;
  border-width: 2px;
  border-style: solid;
  border-color: #cc171a;
  padding: 16px 24px;
  display: inline-block;
  margin: 56px auto;
}

.item-list li {
  border: 2px solid #000;
}
.item {
  border-width: 2px;
  border-style: solid;
  height: 100%;
  background-color: #fff;
  padding: 32px 16px;
}

.carousel-inner {
  padding-bottom: 64px;
}
.carousel-indicators li {
  background-color: #000;
  height: 12px;
  width: 12px;
  margin: 0px 8px;
}
.carousel-indicators li .active {
  opacity: 1;
}

/* news */
.news-list li {
  border-top: solid 2px #dadada;
  text-align: left;
  padding: 16px 0px 0px 0px;
}
.news-list li a {
  color: #343a40;
}

/* tab */
ul.tabs {
  margin: 0;
  padding: 0;
  /* float: left; */
  /* list-style: none; */
  /* height: 32px; */
  border-bottom: 2px solid #000;
  width: 100%;
}

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 12px 40px;
  /* height: 31px; */
  /* line-height: 31px; */
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  /* border-bottom: 2px solid #000; */
  /* border-right: 2px solid #000; */
  background-color: #fff;
  color: #000;
  overflow: hidden;
  position: relative;
  text-align: center;
}
ul.tabs li h5 {
  margin-bottom: -4px;
}

.tab_last {
  border-right: 2px solid #000;
}

ul.tabs li:hover {
  background-color: #000;
  color: #fff;
}

ul.tabs li.active {
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #000;
  display: block;
}

.tab_container {
  border: 2px solid #000;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto;
}

.tab_content {
  padding: 20px;
  display: none;
}
.tab_content p {
  margin-bottom: -6px;
}

.tab_drawer_heading {
  display: none;
}

@media screen and (max-width: 480px) {
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: #fff;
    color: #fff;
    border-top: 2px solid #000;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #000;
    color: #fff;
  }
}
